#countDown {
    width: 100%;
    font-size: 50px;
    text-align: center;
    margin: 0 auto;
    padding: 35px;
}

.time-input {
    font-size: 70px;
    width: 120px;
    text-align: center;
    border: none;
    background-color: #f3d1bd;
    padding: 10px;
    margin: 0 5px;
    border-radius: 5px;
    box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.time-input:focus {
    outline: none;
    box-shadow: inset 2px 2px 8px rgba(225, 189, 175, 0.3);
}

.buttons{
    text-align: center;
    transform: translateY(20px);

}

button{
    padding:0;
    margin: 0 10px;
    border: none;
}

button:hover{
    cursor: pointer;
}

button i{
    font-size: 2rem;
    padding: 10px;
    color: #fff;
    width: 50px;
}

#play{
    background-color: #C1AFA5 ;
}
#pause{
    background-color: #91837C;
}
#cancel{
    background-color: #C1AFA5 ;
}
